.not-found {
    background-color: #ffffff; /* Cor de fundo branca */
    text-align: center;
    padding: 20px;
    height: 100vh; /* Certifica-se de ocupar toda a altura da página */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-found-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
}
.go-back {
    margin-top: 15px;
    color: #43a3de;
    text-decoration: none;
    font-weight: bold;
}
.go-back:hover {
    text-decoration: underline;
}
