html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove a barra de rolagem vertical */
  width: 100%;
  height: 100%;
}

.ContainerEmpresa {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.segundoContainer {
  margin-top: 10vh;
  overflow: hidden;
}

.chartsContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid #004080;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: #e0f3ff;
  flex-wrap: nowrap; /* Impede que os itens quebrem linha */
  overflow-x: auto; /* Adiciona a barra de rolagem horizontal */
}

.chartsContainer > div {
  flex: 1 1 45%; /* Adapta a largura dos gráficos proporcionalmente */
  min-width: 300px; /* Define uma largura mínima para os gráficos */
  max-width: 45%; /* Define uma largura máxima para gráficos maiores */
  margin-right: 1rem;
  box-sizing: border-box;
}

.chartsContainer > div:last-child {
  margin-right: 0; /* Remove margem do último item */
}

.receitas h2, .despesas h2 {
  text-align: center;
}

.receitas h2 {
  color: darkgreen;
}

.despesas h2 {
  color: darkred;
}

/* Media Queries para dispositivos menores */
@media (max-width: 768px) {
  .chartsContainer {
    flex-direction: column; /* Empilha os gráficos em telas menores */
    justify-content: flex-start; /* Alinha os gráficos ao topo */
  }

  .chartsContainer > div {
    width: 100%; /* Os gráficos ocupam toda a largura disponível */
    margin-right: 0; /* Remove a margem lateral */
    margin-bottom: 1rem; /* Adiciona espaço entre os gráficos empilhados */
  }

  .chartsContainer > div:last-child {
    margin-bottom: 0; /* Remove margem do último gráfico */
  }
}

@media (max-width: 480px) {
  .chartsContainer > div {
    min-width: 250px; /* Reduz ainda mais a largura mínima para telas pequenas */
  }
}
